            form{
                width: 50%;
                background-color: bisque;
                border: 1px solid black;
            }

            label{
                display: block;
                margin-top: 10px;
                padding-left: 15px;
                padding-bottom: 5px;
            }

            input[type="text"],input[type="submit"],select{
                padding: 5px;
            }

            .greska{
                color: red;
            }

            table {
            font-family: Arial, Helvetica, sans-serif;
            width: 80%;
            border-collapse: collapse;
            background-color: #fff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            font-size: 12px;
            margin-top: 20px
        }

        th, td {
            padding: 10px;
            border: 1px solid #ccc;
            text-align: left;
        }

        th {
            background-color: #333;
            color: #fff;
        }