body{
    font-family: Arial, Helvetica, sans-serif;
}



nav{
    padding: 15px;
    background-color: #dadaa1;
    width: 50%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link and background color on hover */
li a:hover {
  background-color: #555555;
  color: white;
}

form{
    width: 50%;
    font-size: 12px;
}

label{
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}

input[type="text"],input[type="number"]{
    padding: 5px;
    color: blue;
}

input[type="submit"],button{
    padding: 10px;
    border-radius: 3px;
    width: auto;
}